### Java template
# Compiled class file
*.class

# Log file
*.log

### JetBrains
.idea
.idea/**
*.iml

# IntelliJ
out/

### Eclipse template
.metadata
bin/
tmp/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# STS (Spring Tool Suite)
.springBeans!/.idea/

# CLIPREPORT
/src/main/webapp/WEB-INF/clipreport5/temp/
/.apt_generated/
/.apt_generated_tests/

.factorypath
