@charset "utf-8";
html {
    width: 100%;
    height: 100%;
    font-family: '맑은 고딕', 'Malgun Gothic', '나눔 고딕', 'Nanum Gothic', 'dotum';
    font-weight: 400;
    text-align: left;
    color: #666;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.025em
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

input, textarea, select, button {
    font-family: '맑은 고딕', 'Malgun Gothic', '나눔 고딕', 'Nanum Gothic', 'dotum';
    font-weight: 400;
    color: #666;
}

input[type=text],
input[type=number],
input[type=email],
input[type=url],
input[type=tel],
input[type=password] {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 30px;
    text-align: left;
    font-size: 14px;
    line-height: 1;
    color: #262626;
    font-weight: 400;
    padding: 0 10px;
    letter-spacing: -0.025em;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    z-index: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 40px #efefef inset;
    -webkit-text-fill-color: #333
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

select {
    position: relative;
    display: inline-block;
    width: auto;
    height: 30px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #262626;
    padding: 5px 10px;
    border-radius: 0;
    background-color: #fff;
    border: none;
    z-index: 0;
    white-space: normal;
    word-wrap: normal;
    word-break: normal;
    border: 1px solid #ddd;
    box-sizing: border-box;
    z-index: 0;
}

select:focus {
    outline: none;
    border-color: #1c69d4;
    color: #262626
}

select[disabled] {
    color: #999;
    background-color: #f7f7f7
}

select[disabled]:focus {
    border: 1px solid #ddd !important
}

textarea {
    display: inline-block;
    width: 100%;
    height: 160px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 0;
    box-sizing: border-box;
    resize: none;
    border: 1px solid #ddd
}

input[readonly] {
    background: #f7f7f7
}

input[readonly]:focus {
    border: 1px solid #ddd !important
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=password]:focus,
textarea:focus {
    outline: none;
    border: 1px solid #222;
    z-index: 1
}

label {
    cursor: pointer
}

::-webkit-input-placeholder {
    color: #999
}

::-moz-placeholder {
    color: #999
}

:-ms-input-placeholder {
    color: #999
}

:-moz-placeholder {
    color: #999
}

input[type=submit] {
    display: inline-block;
    border: none;
    outline: none;
    background: none;
    border-radius: 0;
    cursor: pointer
}

button {
    display: inline-block;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    line-height: 1;
    letter-spacing: -0.050em
}

/*button:focus,
button:active {
    padding: 0
}*/

button span {
    position: relative;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #efefef inset;
}


.letter {
    letter-spacing: normal !important
}

.under {
    text-decoration: underline !important
}

html.fix {
    overflow-y: hidden
}

.d_t {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed
}

.d_t .d_c {
    display: table-cell;
    width: 100%;
    vertical-align: middle
}

.text_c {
    text-align: center !important;
}

.text_l {
    text-align: left !important;
}

.text_r {
    text-align: right !important;
}

.vertical_t {
    vertical-align: top !important;
}

.vertical_m {
    vertical-align: middle !important;
}

.vertical_b {
    vertical-align: bottom !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt55 {
    margin-top: 55px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.mt70 {
    margin-top: 70px !important;
}

.mt80 {
    margin-top: 80px !important;
}

.mt90 {
    margin-top: 90px !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr25 {
    margin-right: 25px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.mr55 {
    margin-right: 55px !important;
}

.mr60 {
    margin-right: 60px !important;
}

.mr70 {
    margin-right: 70px !important;
}

.mr80 {
    margin-right: 80px !important;
}

.mr90 {
    margin-right: 90px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb55 {
    margin-bottom: 55px !important;
}

.mb60 {
    margin-bottom: 60px !important;
}

.mb70 {
    margin-bottom: 70px !important;
}

.mb80 {
    margin-bottom: 80px !important;
}

.mb90 {
    margin-bottom: 90px !important;
}

.ml0 {
    margin-left: 0 !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml25 {
    margin-left: 25px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.ml50 {
    margin-left: 50px !important;
}

.ml55 {
    margin-left: 55px !important;
}

.ml60 {
    margin-left: 60px !important;
}

.ml70 {
    margin-left: 70px !important;
}

.ml80 {
    margin-left: 80px !important;
}

.ml90 {
    margin-left: 90px !important;
}


.color_01 {
    color: #262626 !important
}

.color_02 {
    color: #666 !important
}

.color_03 {
    color: #999 !important
}

.color_04 {
    color: #f01212 !important
}

#wrap {
    height: 100%;
    background: #fff
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    box-sizing: border-box;
    padding: 15px 20px;
    background: #555;
    color: #fff;
    z-index: 50;
}

#header h1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

#header .user_info {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 14px;
    line-height: 20px;
    margin-top: -10px;
}

#header .user_info a {
    margin-left: 10px
}

#container {
    position: relative;
    padding: 74px 20px 40px 200px;
    min-height: 100%;
    box-sizing: border-box;
    max-width: 1920px
}

#gnb {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background: #f4f4f4;
    border-right: 1px solid #ddd;
}

#gnb > ul {
    padding-top: 54px;
}

#gnb > ul > li {
}

#gnb > ul > li:first-child {
    margin-top: 0;
}

#gnb > ul > li > a {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd
}

#gnb > ul > li > a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 10px;
    height: 6px;
    display: none;
    margin-top: -3px;
    background: url(../../admin/images/util/arrow.png) left top no-repeat;
}

#gnb > ul > li.none > a:after {
    display: none;
}

#gnb > ul > li.two > a:after {
    display: block;
}

#gnb > ul > li.actived .snb {
    display: block;
}

#gnb > ul > li.open .snb {
    display: block;
}

#gnb > ul > li.actived > a:after,
#gnb > ul > li.open > a:after {
    background-position: left bottom
}

#gnb > ul > li.actived > a,
#gnb > ul > li.open > a {
    background: #1c69d5;
    color: #fff;
}

#gnb .snb {
    padding: 10px 20px;
    display: none;
    background: #fff;
    border-bottom: 1px solid #ddd
}

#gnb .snb > ul > li > a {
    position: relative;
    display: block;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    padding: 5px 0 5px 10px;
}

#gnb .snb > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    top: 11px;
    left: 0;
    width: 1px;
    height: 4px;
    background: #999;
}

#gnb .snb > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    width: 4px;
    height: 1px;
    background: #999;
}

#gnb .snb > ul > li.actived > a {
    color: #222;
    text-decoration: underline;
}


table.list {
    width: 100%;
    table-layout: fixed;
}

table.list > thead > tr > th {
    height: 40px;
    font-size: 14px;
    color: #222;
    font-weight: 400;
    padding: 0 10px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: center
}

table.list > tbody > tr > td {
    height: 20px;
    font-size: 14px;
    color: #222;
    padding: 10px 10px;
    font-weight: 400;
    line-height: 20px;
    background: #fff;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: center
}

table.list > tbody > tr > th > * {
    vertical-align: middle;
}

table.list > tbody > tr > td > * {
    vertical-align: middle;
}

table.list td.actived {
    background: #999;
    color: #fff;
}

table.view {
    width: 100%;
    table-layout: fixed;
}

table.view > tbody > tr > th {
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    color: #222;
    line-height: 40px;
    font-weight: 400;
    background: #f8f8f8;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: left
}

table.view > tbody > tr > td {
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    color: #222;
    line-height: 20px;
    font-weight: 400;
    background: #fff;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: left
}

table.view > tbody > tr > th > * {
    vertical-align: middle;
}

table.view > tbody > tr > td > * {
    vertical-align: middle;
}

a.btn_link {
    text-decoration: underline
}

.btn_page {
    position: relative;
    margin-top: 20px;
    height: 40px;
    text-align: center;
    font-size: 0
}

.btn_page a {
    margin: 0 2.5px
}

.btn_page a:last-child {
    margin-right: 0
}

.btn_page a:first-child {
    margin-left: 0
}

.btn_page.small {
    height: 30px
}

.btn_pos_left {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0
}

.btn_pos_left > input[type=submit],
.btn_pos_left > button,
.btn_pos_left > a {
    margin-left: 5px
}

.btn_pos_left > input[type=submit]:first-child,
.btn_pos_left > button:first-child,
.btn_pos_left > a:first-child {
    margin-left: 0
}

.btn_pos_right {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0
}

.btn_pos_right > input[type=submit],
.btn_pos_right > button,
.btn_pos_right > a {
    margin-left: 5px
}

.btn_pos_right > input[type=submit]:first-child,
.btn_pos_right > button:first-child,
.btn_pos_right > a:first-child {
    margin-left: 0
}

a.btn_small, input[type=submit].btn_small, button.btn_small {
    display: inline-block;
    min-width: 50px;
    height: 30px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box
}

a.btn_default, input[type=submit].btn_default, button.btn_default {
    display: inline-block;
    min-width: 100px;
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 38px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box
}

a.type_01, input[type=submit].type_01, button.type_01 {
    color: #fff;
    border: 1px solid #1c69d4;
    background: #1c69d4;
}

a.type_02, input[type=submit].type_02, button.type_02 {
    color: #666;
    border: 1px solid #ccc;
    background: #f1f1f1;
}

a.type_03, input[type=submit].type_03, button.type_03 {
    color: #fff;
    border: 1px solid #333;
    background: #666;
}

.paging_wrap {
    position: relative;
    margin-top: 20px;
    text-align: center
}

.paging {
    font-size: 0;
}

.paging ol {
    display: inline-block
}

.paging ol li {
    display: inline
}

.paging ol li a,
.paging ol li span {
    float: left;
    display: block;
    width: 28px;
    height: 28px;
    font-size: 13px;
    text-align: center;
    line-height: 28px;
    color: #999;
    margin-left: -1px;
    border: 1px solid #ddd;
}

.paging ol li .current {
    cursor: default;
    color: #1c69d4;
    font-weight: 400
}

.paging > a {
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 13px;
    text-align: center;
    line-height: 28px;
    color: #999;
    margin-left: -1px;
    border: 1px solid #ddd;
}

.paging .btn_page_prev {
    margin-right: 10px
}

.paging .btn_page_next {
    margin-left: 10px
}

.default_cell {
    margin-top: 40px;
}

.default_cell:first-child {
    margin-top: 0
}

.default_cell > h3 {
    font-size: 18px;
    color: #222;
    font-weight: 700;
    margin-bottom: 15px
}

.default_cell > h4 {
    font-size: 16px;
    color: #222;
    font-weight: 700;
    margin-bottom: 10px
}

.middle_cell {
    margin-top: 30px
}

.middle_cell:first-child {
    margin-top: 0
}

.small_cell {
    margin-top: 20px
}

.small_cell:first-child {
    margin-top: 0
}

.login_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f8f8f8
}

.login_input {
    width: 380px;
    margin: 0 auto;
    padding: 40px 30px;
    background: #fff;
    border: 1px solid #ddd;
}

.login_input h1 {
    font-size: 24px;
    color: #222;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 700
}

.login_input .cell + .cell {
    margin-top: 10px;
}

.login_input input {
    width: 100%;
    height: 40px;
}

.login_input .btn {
    margin-top: 10px;
}

.login_input .btn a {
    font-size: 16px;
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #1c69d5;
}

.row_input {
    font-size: 0;
}

.row_input > * {
    margin-left: 5px;
}

.row_input > *:first-child {
    margin-left: 0;
}

.r_label {
    margin: 0 15px 0 5px
}

.d_wrap {
    position: relative;
    display: inline-block;
}

.d_wrap > img {
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 10;
    cursor: pointer;
    vertical-align: top
}

.char {
    font-size: 14px;
    line-height: 30px;
    padding: 0 3px;
}

.list_total {
    font-size: 13px;
    color: #666;
    margin-bottom: 10px
}

.mms_detail {
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 15px;
    min-height: 200px
}

.over_height_scroll {
    max-height: 400px;
    overflow-y: auto;
}

.over_y_scroll {
    overflow-y: auto;
}

.list_num {
    margin-bottom: 10px;
    text-align: left;
}

.modify_guide {
    position: relative;
    text-align: left;
    max-width: 100%;
    padding: 50px 0;
    margin: 0 auto;
}

.modify_guide:first-child {
    padding-top: 0
}

.modify_guide .guide_title {
    font-size: 20px;
    color: #333;
    padding: 50px 0 15px 0;
    border-bottom: 1px solid #bbb;
    margin-bottom: 15px
}

.modify_guide .guide_title:first-child {
    padding-top: 0
}

.modify_guide .guide_info {
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-top: 10px
}

.modify_guide .guide_detail {
    text-align: center;
    margin-top: 10px
}

.input_right_info {
    margin-left: 10px;
}

.grid_item {
    display: flex;
    margin: -10px -10px;
    flex-wrap: wrap;
}

.grid_item > li {
    box-sizing: border-box;
    padding: 10px 10px;
    display: block;
    width: 33.33%
}

.grid_item > li.row_1 {
    width: 100%
}

.grid_item > li.row_2 {
    width: 50%
}

.grid_item > li.row_3 {
    width: 33.33%
}

.grid_item > li.row_35 {
    width: 66.67%
}

.grid_item > li.row_4 {
    width: 25%
}

.grid_item > li.row_5 {
    width: 20%
}

.otp_info {
    margin-top: 15px;
}

/* ******************************************************
	05. pop
*******************************************************/
.pop_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    overflow-y: auto;
}

.pop_wrap > div {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed
}

.pop_wrap > div > div {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: 80px 60px;
    box-sizing: border-box;
}

.pop_data {
    position: relative;
    max-width: 100%;
    background: #fff;
    box-sizing: border-box;
}

.pop_data a.btn_pop_close {
    position: absolute;
    top: 17px;
    right: 32px;
    display: block;
    width: 28px;
    height: 26px;
    background-color: transparent;
    background-image: url('../../admin/images/util/btn_pop_close.png');
    background-repeat: no-repeat;
    background-position: center center
}

.pop_data.small {
    max-width: 480px;
    padding: 0;
    margin: 0 auto
}

.pop_data.middle {
    max-width: 860px;
    padding: 0;
    margin: 0 auto
}

.pop_data h3 {
    font-size: 24px;
    color: #fff;
    padding: 0 40px;
    background: #1c69d4;
    line-height: 60px
}

.pop_data .detail_data {
    padding: 40px;
    background: #fff
}

.btn_pop_page {
    margin-top: 30px;
    font-size: 0
}

.btn_pop_page > a {
    margin: 0 5px
}

.btn_pop_page > a:last-child {
    margin-right: 0
}

.btn_pop_page > a:first-child {
    margin-left: 0
}

.main_txt {
    font-size: 14px;
    line-height: 22px;
    margin-top: 18px;
    color: #262626;
}

.main_info {
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
}

.error_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f8f8f8
}

.error_data {
    width: 1024px;
    margin: 0 auto;
    padding: 100px 30px;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

.error_data h2 {
    font-size: 32px;
    color: #262626;
    font-weight: 700;
}

.error_data .txt {
    font-size: 18px;
    color: #262626;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
}

.error_data .btn {
    margin-top: 25px;
}

.screen_check.actived {
    text-decoration: underline
}

th.dt-center, td.dt-center {
    text-align: center;
}
